/* Initial Layout Setup */

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

/* Colour Palette Variable Setup */
:root {
  --white: #FFFFFF;
  --red: #F25757;
  --indigo: #A594F9;
  --black: #313638;
}

html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}

body {
  color: var(--black);
  margin: 0 auto;
  max-width: 393px;
}

/* Nav */

nav {
  align-items: center;
  background: var(--red);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav img {
  max-width: 40px;
}

#nav-logo img {
  max-width: 155px;
}

/* Menu Bar List - Hidden for Now */
.hidden {
  display: none;
}

/* Homepage */

main {
  background-color: var(--white);
  padding: 0 25px;
}

/* Featured Cupcake Image */
#featured-image img {
  max-width: 320px;
}

#featured-image {
  text-align: center;
}

.hero-page h1,
.hero-page h2 {
  padding-block: 25px;
}

.hero-page h3 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-bottom: 15px;
}

.hero-page p {
  line-height: 24px;
}

.hero-page a,
.cupcake-order a {
  background-color: var(--indigo);
  border-radius: 8px;
  color: var(--white);
  padding: 12px 30px;
  text-decoration: none;
}

#featured-button {
  margin-top: 25px;
  text-align: center;
}

#cupcakes-button-container {
  padding-top: 15px;
  text-align: center;
}

#cupcakes-button {
  background-color: unset;
  color: var(--indigo);
  padding: 0;
  text-decoration: underline;
}

footer {
  background-color: var(--black);
  color: var(--white);
  margin-top: 25px;
  text-align: center;
}

/* Cupcakes Page */

.cupcakes-detail {
  margin-left: 25px;
  margin-block: 30px;
  padding-bottom: 15px;
  max-width: 330px;
  border-bottom: 1.5px solid var(--black);
}

.cupcakes-selection {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cupcakes-selection a {
  color: var(--black);
  text-decoration: none;
}

/* Cupcake Cards */

.cupcakes-card {
  border: 1px solid var(--black);
  border-radius: 12px;
  max-width: 150px;
}

.cupcakes-card img {
  border-radius: 12px;
  padding-bottom: 15px;
  max-width: 150px;
}

.cupcakes-card h4,
.cupcakes-card p {
  padding-left: 12px;
  padding-bottom: 8px;
}

/* Cupcake (Single) Page */

.cupcake-order-image {
  padding-block: 25px;
  text-align: center;
}

.cupcake-order img{
  max-width: 320px;
}

.cupcake-order h2 {
  padding-bottom: 10px;
}

.cupcake-order p {
  line-height: 22px;
}

/* Fix Margin Collpase */
.cupcake-order #featured-button {
  margin-bottom: 45px;
}
